@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 216 67% 97%;
    --foreground: 224 71% 4%;
    --card: 216 67% 97%;
    --card-foreground: 224 71% 4%;
    --popover: 216 67% 97%;
    --popover-foreground: 224 71% 4%;
    --primary: 344 93% 73%;
    --primary-foreground: 356 100% 12%;
    --secondary: 325 64% 38%;
    --secondary-foreground: 210 40% 98%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 181 82% 50%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 344 93% 73%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222 84% 5%;
    --foreground: 210 40% 98%;
    --card: 222 84% 6%;
    --card-foreground: 210 40% 98%;
    --popover: 222 84% 5%;
    --popover-foreground: 210 40% 98%;
    --primary: 344 93% 73%;
    --primary-foreground: 356 100% 12%;
    --secondary: 325 64% 38%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 181 82% 50%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 344 93% 73%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .grid-background {
    background-image:
      linear-gradient(to right, hsl(var(--foreground) / 0.03) 1px, transparent 1px),
      linear-gradient(to bottom, hsl(var(--foreground) / 0.03) 1px, transparent 1px);
    background-size: 2.5rem 2.5rem;
  }
}
